<%- model_class = Book -%>
<div style="background-color:lightblue;"></br></br></br>

<div class="page-header">
  <h1 style="margin-left:500px; margin-top:10px;"> Create a Book Here </h1>
</div>
<%= render :partial => 'form' %>
<div style="background-color:lightblue;"></br></br></br>
