<%- model_class = Exam -%>
<div class="page-header">
  <h1 style = "margin-left:400px;"><i><u>This is an online Test </u></i></h1>
</div>

<div id="imge"> </div>
<h2 style = "margin-left:200px;">Good Luck Buddy, Please click the below button to attempt the test </h2>  </br>

<p style = "margin-left:530px;"><%= link_to "Attempt the test",
            new_exam_path,
            :class => 'btn btn-primary' %> </p>
    
<style type="text/css" media="screen">
 #imge {
        background-image: url("assets/images.jpeg");
        background-repeat: no-repeat;
        background-position: top left;
        margin-left:450px;
        height: 200px;
        width: 500px;
      }
</style>

