<%- model_class = Exam -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<h2>Good Luck Buddy, Please click the below button to attempt the test </h2>  </br>
<%= link_to t('.Attempt the test', :default => t("helpers.links.new")),
            new_exam_path,
            :class => 'btn btn-primary' %>
