<%- model_class = Exam -%>
<%if current_user%><div style="color:#00ff00;margin-left:1132px;"><h2><%= link_to "Logout", destroy_user_session_path, :method => :delete %> <%end %></h2></div>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>
