<%- model_class = Exam -%>
<div style="background-color:pink;"></br></br></br>
<%if current_user%><div style="color:#00ff00;margin-left:1132px;"><h2><%= link_to "Logout", destroy_user_session_path, :method => :delete %> <%end %></h2></div>
	<div id="lal"></div>
</br></br>
<%= render :partial => 'form' %><br/><br/>


</div>
<style type="text/css" media="screen">
 #lal {
        background-image: url("/assets/online test.gif");
        background-repeat: no-repeat;
        background-position: top left;
        height: 200px;
        width: 500px;
        margin-left:450px;
        margin-top:450px;
        margin-top:-90px;

      }
</style>
